{% extends 'base.html' %}

{% load static %}
{% block title %}ToDo {% endblock %}
{% block kod %} 
<script type="text/javascript" src="{% static 'js/dateformat.js' %}"></script>
<script type="text/javascript" src="{% static 'js/todo.js' %}"></script> 

{% endblock %}
{% block page %}
<form id="form" method="post" action="">
	{% csrf_token %}
{{form.as_p}}
<input class="btn btn-success" type="submit" value="yarat">
</form>
<hr>
<form id="listform" action="" method="get">
	<div class="form-group">
		<select id="list" name="list" class="form-control">
			{% if request.GET.list == 'completed' %}
			<option value="completed">Tamamlananlar</option>
			<option value="uncompleted">Tamamlanmayanlar</option>
			{% else %}
			<option value="uncompleted">Tamamlanmayanlar</option>
			<option value="completed">Tamamlananlar</option>
			{% endif %}
			
		</select>
		<input style="display: none;" type="submit" name="sub"/>
	</div>
</form>
<hr>
<ul class="list-group">
{% for object in object_list %}
<li class="list-group-item"> <h4>{% if object.completed == False %}
	<a href="{% url 'todo:complete' object.pk %}" class="btn btn-success complete"><span class="glyphicon glyphicon-ok"></span></a>{% endif %}
	{{object.title}}<small> {{object.created_to}} </small>
	{% if object.completed %}<span class="badge">Tamamlanıb</span>{% endif %}</h4></li>
{% empty %}
Boş
{% endfor %}
</ul>
{% if object_list.has_other_pages %}
  <ul class="pagination">
    {% if object_list.has_previous %}
      <li><a href="?page={{ object_list.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in object_list.paginator.page_range %}
      {% if object_list.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if object_list.has_next %}
      <li><a href="?page={{ object_list.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}


{% endblock %}