{% extends 'base.html' %}

{% load static %}
{% block title %} {{post.title}} {% endblock %}
{% block link %} {{post.title}} {% endblock %}
{% block icon %}<span class="glyphicon glyphicon-ok"></span> {%endblock%}
{% block page %}
		
		<div class="container-fluid ">
		<div class="text-center">
			<h1 class="page-header"> {{ post.title }} <br></h1>
			<form action="/post/filter/" method="post" >
			{% csrf_token %}
			{% for cat in post.category.all %} <input type='hidden' name="catfilter" value="{{cat.id}}"/> <input type="submit" value="{{ cat }}" class="btn btn-info"/>{% endfor %}</form><hr><p class="small">{{ post.created_time|timesince }} əvvəl<br>
			{% if post.created_time != post.updated_time %}
				{{post.updated_time|timesince  }} əvvəl redaktə olunub  
			{% endif %} </p>
			<p class="lead"> {{ post.post }} </p></div>
			
				<img src="{{post.get_img_or_default}}" class="img-responsive"/><br>
			
			<a class="btn btn-info" href="{% url 'post:update' post.slug %} "><span class="glyphicon glyphicon-pencil"></span>  Postu dəyiş</a>
			
			<button class="btn btn-danger" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-trash"></span> Sil</button>
			<div id="demo" class="collapse">
			<p class="lead text-center">əminsiz?<br>
			<a class="btn btn-danger" href="{% url 'post:delete' post.slug %} "> Postu Sil</a></p>
			</div>
		</div>
		
{% endblock %}
