{% extends 'base.html' %}

{% load static %}
{% block title %} {{post.title}} {% endblock %}



{% block kod %}

<script src="{% static 'js/dateformat.js' %}" type="text/javascript"></script>
<script src="{% static 'js/detail.js' %}" type="text/javascript"></script>

{% endblock %}


{% block page %}

{% if messages %}
			
			{% for message in messages %}
			{% if 'postupdate' in message.tags or 'addpost' in message.tags%}
			<div class="alert alert-success fade in text-center">
				{{message}}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				</div>
				{%endif%}
				{% endfor %} 
				
		 {% endif %}
		
		<div class="container-fluid ">
		<div class="text-center">
			<h1 class="page-header"> {{ post.title }}<br></h1>
			<form action="{% url 'post:index' %}" method="get" >
			{% for cat in post.category.all %} <input type='hidden' name="cat_id" value="{{cat.id}}"/> <input type="submit" value="{{ cat }}" class="btn btn-info"/>{% endfor %}</form><hr><p class="small">{{ post.created_time|timesince }} əvvəl
			{% if post.created_time != post.updated_time %}
				<br>{{post.updated_time|timesince  }} əvvəl redaktə olunub  
			{% endif %}</p>Müəllif: <strong><a href="{% url 'users:profile' post.author_id %}">{{post.author}}</a></strong> 
			<div class="text-justify"> {{ post.post|safe }} </div></div>
			<div class="media-center">
				<img src="{{post.get_img_or_default}}" class="img-responsive" style="max-width: 100%; display: block; height: auto;"/></div><br>
				<p><b>{{ post.read}}</b> dəfə oxunub</p>
				<!---------------------------------- LIKE ---------------------------------------->
				{% if request.user.is_authenticated %}
				{% if like %}
				
			<a id='likebtn' class="btn btn-danger" data-url="{% url 'post:like' post.pk %}" href="{% url 'post:like' post.pk %}"><span id="icon" class="glyphicon glyphicon-thumbs-down"></span></a> 
			{% else %}
			
			<a id='likebtn' class="btn btn-success" href="{% url 'post:like' post.pk %}"><span id="icon" class="glyphicon glyphicon-thumbs-up"></span></a> 
			{% endif %}
			<a id="likers" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-html="true" data-content="{% for like in post.like.all %}{{like.sender }} <br/> {% endfor %}">
			<span class="glyphicon glyphicon-thumbs-up"></span> <span id="likenum">{{post.get_likes}}</span></a>
			
			
		
			{% endif %}
			<!----------------------------------------------/LIKE/------------------------------------->
			{% if request.user == post.author %}<br><br>
			<a class="btn btn-info" href="{% url 'post:update' post.slug %} "><span class="glyphicon glyphicon-pencil"></span>  Postu dəyiş</a>
			
			<button id="delslide" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span> Sil</button></div>
			<div id="del" class="collapse">
			<p class="lead text-center">əminsiz?<br>
			<a class="btn btn-danger" href="{% url 'post:delete' post.slug %} "> Postu Sil</a></p>
			</div>{% endif %}
	
		
		                               <!---------------------------------------  COMMENT ------------------------------------------->   
		<div id="comments" class="container-fluid">
			<h2 class="page-header"> Şərhlər (<span id="sumcomment">{{post.comment.all|length}}</span>)</h2>
			
			<div class='col-lg-10 col-lg-offset-1'>
			{% if request.user.is_authenticated %}
			<form id="commentform" action="{% url 'post:detail' post.slug %}" method="post">
				{% csrf_token %}
				
				{% for field in form %}
					<div class="form-group">
				
				{{ field.label_tag }}<br>
				{{field.errors}}
				{{field}} <br>
				{% endfor %}
				<input type="submit" id="subcomment" class="btn btn-info" value="Yaz"/></div>
			</form>
			
			
			{% else %}
				<div class="alert alert-warning text-center">
				Şərh yazmaq üçün <strong><a href="{% url 'users:user_login' %}?next={% url 'post:detail' post.slug %}">Daxil ol</a></strong>un
				</div>
			{% endif %}
			<hr>
			<div class="col-lg-12">
			<!------------------------------------- MESSAGES -------------------
			
			<div id="messagediv" style="display: none;"class="alert alert-danger fade in text-center">
				<span id="message"></span><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				</div>
				-->
			
				<!--------------------------------/MESSAGES----------------------->
				
					<div id="commentsblock" class="row">
				{% for comment in post.comment.all %}
				<div id="bigcomment" class="col-lg-12">
				
				
						<div class="col-lg-1">
							
						<img id="imgcomment" src="{{comment.sender.userprofile.photo.url}}" style="width:40px; height:40px;" class="img-responsive img-circle"/>
						</div> 
							<div id="comment" class="col-lg-11"><h4><b>{{comment.sender}}</b><small> {{comment.date}}</small>
							{% if request.user == comment.sender %}
							<a class="btn btn-danger comdelete" href="{% url 'post:comment_delete' comment.pk %}">  <span class="glyphicon glyphicon-trash"></span></a>
							{% endif %}{% if request.user.is_authenticated %}
							<button class="btn btn-success" data-toggle="collapse" data-target="#reply{{comment.pk}}">
							<span class="glyphicon glyphicon-share-alt"></span></button>
							{% endif %}<button class="btn btn-info" data-toggle="collapse" data-target="#replies{{comment.pk}}">
							<span class="glyphicon glyphicon-collapse-down"></span></button> </h4>
							<p>{{comment.text}}</p>
							<hr>
							
					<!------------------------------- REPLY ---------------------->
					<div class="col-lg-12">
					{% if request.user.is_authenticated %}
					
					<div id="reply{{comment.pk}}" class="collapse">
						<form id="reply" class="replyform" action="{% url 'post:reply' comment.pk %}" method="post">
								{% csrf_token %}
					
								{% for field in reply_form %}
							<div class="form-group">
							{{ field.label_tag }}<br>
							{{field.errors}}
							{{field}} <br>
								{% endfor %}
							<input type="submit" id ="replysub" class="btn btn-info replysub" value="Yaz"/></div>
						</form>
					</div>
					
					{% endif %}

							<div id="replies{{comment.pk}}" class="collapse">
						{% for reply in comment.reply.all %}
					
							
						<h5><strong>{{reply.rsender}}</strong> <small>[{{reply.date}}]</small></h5>
						<p>{{reply.rtext}} </p>
						
				
							
							
							
						{% endfor %}</div> <!-- collapse -->
						</div> <!-- col-lg-12 -->
								
							</div> <!--col-lg-11 #comment -->

								</div> <!--col-lg-12 #bigcomment-->
							
					<!---------------------------------------------- END REPLY ----------------------------------------->
					
					{% empty %}
						<div class="alert alert-info text-center">
							İlk şərhi <strong>SƏN</strong> Yaz 
						</div>
					{% endfor %}
				</div> <!-- row #commentsblock-->
					</div>
				</div>
					
				
				
		</div>
		
{% endblock %}
