{% extends 'base.html' %}

{% load static %}
{% block title %} {{post.title}} {% endblock %}

{% block icon %}<span class="glyphicon glyphicon-ok"></span> {%endblock%}
{% block page %}
		
		<div class="container-fluid ">
		<div class="text-center">
			<h1 class="page-header"> {{ post.title }}<br></h1>
			<form action="{% url 'post:index' %}" method="get" >
			{% for cat in post.category.all %} <input type='hidden' name="cat_id" value="{{cat.id}}"/> <input type="submit" value="{{ cat }}" class="btn btn-info"/>{% endfor %}</form><hr><p class="small">{{ post.created_time|timesince }} əvvəl
			{% if post.created_time != post.updated_time %}
				<br>{{post.updated_time|timesince  }} əvvəl redaktə olunub  
			{% endif %}</p>Müəllif: <strong><a href="{% url 'users:profile' post.author_id %}">{{post.author}}</a></strong> 
			<div class="text-justify"> {{ post.post|safe }} </div></div>
			<div class="media-center">
				<img src="{{post.get_img_or_default}}" class="img-responsive" style="max-width: 100%; display: block; height: auto;"/></div><br>
			{% if request.user == post.author %}
			<a class="btn btn-info" href="{% url 'post:update' post.slug %} "><span class="glyphicon glyphicon-pencil"></span>  Postu dəyiş</a>
			
			<button class="btn btn-danger" data-toggle="collapse" data-target="#demo"><span class="glyphicon glyphicon-trash"></span> Sil</button>
			<div id="demo" class="collapse">
			<p class="lead text-center">əminsiz?<br>
			<a class="btn btn-danger" href="{% url 'post:delete' post.slug %} "> Postu Sil</a></p>
			</div>{% endif %}
		</div>
		
		                               <!---------------------------------------  COMMENT ------------------------------------------->   
		<div class="container-fluid">
			<h2 class="page-header"> Şərhlər ({{post.comment.all|length}})</h2>
			<div class="row">
			<div class='col-lg-10 col-lg-offset-1'>
			{% if request.user.is_authenticated %}
			<form action="{% url 'post:detail' post.slug %}" method="post">
				{% csrf_token %}
				
				{% for field in form %}
					<div class="form-group">
				
				{{ field.label_tag }}<br>
				{{field.errors}}
				{{field}} <br>
				{% endfor %}
				<input type="submit" id="sub" class="btn btn-info" value="Yaz"/></div>
			</form>
			
			
			{% else %}
				<div class="alert alert-warning text-center">
				Şərh yazmaq üçün <strong><a href="{% url 'users:user_login' %}?next={% url 'post:detail' post.slug %}">Daxil ol</a></strong>un
				</div>
			{% endif %}</div>
			
			<div class="col-lg-8 col-lg-offset-2">
			
			
				
				{% for comment in post.comment.all %}
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3> {{comment.sender}}<small> {{comment.date}}</small>
							{% if request.user == comment.sender %}
							<a class="btn btn-danger" href="{% url 'post:comment_delete' comment.pk %} ">  <span class="glyphicon glyphicon-trash"></span></a>
							{% endif %}{% if request.user.is_authenticated %}<button class="btn btn-info" data-toggle="collapse" data-target="#reply{{comment.pk}}"><span class="glyphicon glyphicon-share-alt"></span></button>{% endif %} </h3>
						</div>
						<div class="panel-body">
							<p>{{comment.text}}</p>
							<hr>
					</div>
					
					<!------------------------------- REPLY ---------------------->
					
					{% if request.user.is_authenticated %}
					
					<div id="reply{{comment.pk}}" class="collapse">
						<form action="{% url 'post:reply' comment.pk %}" method="post">
								{% csrf_token %}
					
								{% for field in reply_form %}
							<div class="form-group">
							{{ field.label_tag }}<br>
							{{field.errors}}
							{{field}} <br>
								{% endfor %}
							<input type="submit" class="btn btn-info" value="Yaz"/></div>
						</form>
					</div>
					{% endif %}

						<ul class="list-group">
						{% for reply in comment.reply.all %}
						
							<li class="list-group-item active">	
						<h4 class="list-group-item-heading"><strong>{{reply.rsender}}</strong> [{{reply.date}}]</h4>
						<p class="list-group-item-text">{{reply.rtext}} </p>
						</li>
				
							
							
							
						{% endfor %}</ul>	</div>
						
					
					
					{% empty %}
						<div class="alert alert-info text-center">
							İlk şərhi <strong>SƏN</strong> Yaz 
						</div>
					{% endfor %}
					</div>
					
				</div>
				
		</div>
		
{% endblock %}
