  {% extends 'base.html' %}
{% block title %}Profil: {{user.username}}{% endblock %}
{% block page %}
{% if messages %}
			
			{% for message in messages %}
			{% if 'changepass' in message.tags %}
			<div class="alert alert-success fade in text-center">
				{{message}}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				</div>
			{% elif 'passerror' in message.tags %}
			<div class="alert alert-danger fade in text-center">
				{{message}}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				</div>
				{%endif%}
				{% endfor %} 
				
		 {% endif %}
<h2 class="page-header">Parolu Dəyiş</h2>
<div class="col-lg-6 col-lg-offset-1">
{% if error %}
<div class="alert alert-danger fade in text-center">
				{{error}}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				</div>{% endif %}
		<form action="" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	
<input type="submit" value="Dəyiş" class="btn btn-success"/>
</form>
</div>
{% endblock %}