{% extends 'base.html' %}

{% load static %}
{% block title %}Profil: {{user.username}}{% endblock %}


{% block page %}
{% if messages %}
			
			{% for message in messages %}
			{% if 'profilupdate' in message.tags %}
			<div class="alert alert-success fade in text-center">
				{{message}}<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
				</div>
				{%endif%}
				{% endfor %} 
				
		 {% endif %}
<div class="container-fluid">
<div class="row">
<div class="col-lg-8">
<h2 class="page-header"><a href="#" class="btn btn-warning">{{user.pk}}</a> {{ user.username}}<small> {{ user.date_joined|timesince}} əvvəl bizə qatılıb</small>
{% if user.username == request.user.username %}
<a href="{% url 'users:update'%}" class="btn btn-default close"><span class="glyphicon glyphicon-pencil"></span></a>{% endif %}</h2>
<div class="row">
<div class="col-lg-4">

<p class="lead"> <img class="img-responsive" style="border: 2px solid; width: 100%; display: block; height: 100%;" src="{{user.userprofile.photo.url}}"/> 
<br><br>{{user.get_full_name}}</p>
{{ user.sender.all|length }} şərh yazıb<br>
Şərhlərə {{ user.rsender.all|length }} cavab yazıb<br>


</div>
<div class="col-lg-8">
{% if user.last_login %}<p> Sonuncu dəfə {{user.last_login|timesince}} əvvəl daxil olub</p> {% endif %}
{% if user.email %}<p>Email: {{user.email}}</p> {% endif %}
{% if user.userprofile.bio %}<p>Haqqında: <br>  {{user.userprofile.bio|linebreaks}} </p><hr>{% endif %}
{% if user.userprofile.tel %}<p>Telefon: <br>  {{user.userprofile.tel}} </p><hr>{% endif %}
{% if user.userprofile.sex %}<p>Cins: <br>{% if user.userprofile.sex == '1' %} Kişi {% elif user.userprofile.sex == '2' %} Qadın {% endif %} </p><hr>{% endif %}
{% if user.userprofile.tarix %}<p>Doğum tarixi: <br>  {{user.userprofile.tarix}} </p><hr>{% endif %}
{% if user.is_superuser %}<button class="btn btn-danger">ADMİN</button>{% endif%}
{% if user.is_staff %}<button class="btn btn-success">STAFF</button>{% endif%}
</div>
</div>
<h3 class="page-header">Postları({{user.author.all|length}}) </h3>

<div class="col-lg-12">
<table class="table table-striped text-center"> 
<tbody>
{% for post in user.author.all %}

  <!---->
 
      <tr>
        <td><a href="{% url 'post:detail' post.slug%}"><h4>{{post.title}}</h4></a><small> {{post.created_time}}</small></td>
      </tr>

{% endfor %}
</tbody>
</table>
<hr>
</div>
</div>
<div class="col-lg-4">
<h2 class="page-header">Digər istifadəçilər</h2>
<table class="table table-striped text-center"> 
<tbody>
{% for user in user_list%}
<tr>
<td><a href="{% url 'users:profile' user.id %}"><h4>{{user}}</h4></a></td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</div>
</div>
{% endblock %}